@import '~antd/dist/antd.css';
@import '~font-awesome/css/font-awesome.min.css';

.body-bg {
  /* color: #fff !important;
  background: #101010 !important; */
}
h1, h2, h3, h4, h5, h6 {
  color: #fff !important;
}
p {
  color: #fff !important;
}
a {
  color: #fff!important;
}
a:hover {
  color: #fff!important;
  opacity:0.7!important;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
label {
  font-weight: 400!important;
}
.block {
  display: block!important;
}
.pd-left-0 {
  padding-left: 0px!important
}
.pd-left-10 {
  padding-left: 10px
}
.pd-right-10 {
  padding-right: 10px
}
.pd-lr-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.pd-top-10 {
  padding-top: 10px;
}
.pd-top-20 {
  padding-top: 20px;
}
.pd-top-50 {
  padding-top: 50px;
}
.pd-tb-50 {
  padding: 50px 0;
}
.pd-lr-40 {
  padding-left: 40px;
  padding-right: 40px;
}
.text-grey {
  color: #777777;
}
.opa-5 {
  opacity: 0.5;
}
.text-center {
  text-align: center
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.inline {
  display: inline-block;
}
.font-400 {
  font-weight : 400 !important;
}
.col-card {
  width: 200px;
  max-width: 200px;
  min-width: 200px;
  margin-bottom: 50px;
  cursor: pointer;
  padding-right: 20px;
  padding-left: 15px;
}
.thumb-cover {
  height: 240px;
  min-height: 240px;
  max-height: 240px;
  width: 167px;
  min-width: 167px;
  max-width: 167px;

}
.border-radius-10 {
  border-radius: 10px!important;
}

/* ===============STYLE================== */
.main-footer {
  border-top: 1px solid #272727!important;
}



/* ============ ANT================== */
.ant-breadcrumb {
  color: #777777 !important;
}
.ant-breadcrumb-link {
  color: #777777 !important;
}
/* .ant-breadcrumb-link:hover {
  color: #fff!important;
  opacity:0.4;
} */
.ant-breadcrumb-separator {
  color: #777777 !important;
}
.ant-select-selection{
  /* background-color : #777777!important; */
  border: none!important;
}
.ant-card {
  border: none!important;
  background: #121212!important;
  color: #cdcdcd!important;
}
.ant-card-meta-title {
  color: #cdcdcd!important;
  margin: 0px!important;
}
.ant-card-meta-description {
  color: #cdcdcd!important;
  opacity: 0.5;
  font-weight: 300!important;
  font-size: 13px!important;
}
.ant-card-body {
  padding: 10px 0 0 0!important;
}
.ant-pagination {
  color: #4b646f!important;
}
.ant-pagination-item-link {
  border-color: transparent!important;
  background-color: #1a2226!important;
  opacity: 0.4;
  border-radius: 50px!important;
}
.ant-pagination-item-link:hover {
  opacity: 0.9;
}
.ant-pagination-item {
  background-color: #1a2226!important;
  border-color: transparent!important;
  opacity: 0.4;
  border-radius: 50px!important;

}
.ant-pagination-item:hover {
  opacity: 0.9;
}
.ant-pagination-item-active {
  background: #1a2226!important;
  opacity: 0.9;
  border-color: transparent!important;
}
.ant-pagination-options .ant-select .ant-select-selection {
  background-color: #1a2226!important;
  border-color: transparent!important;
  opacity: 0.4;
  color: #fff!important;
}
.ant-pagination-item-ellipsis{
  color: #4b646f!important;
}
.ant-select-arrow .ant-select-arrow-icon {
  color: #4b646f!important;
}
.ant-back-top-content {
  background-color:red!important;
  box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28)!important;

}
.ant-back-top-content:hover {
  background-color:orange!important;
}
.ant-badge-count {
  font-size: 13px!important;
  right: 22px;
  top: 15px;
  background-color: #000!important;
  opacity: 0.7;
  border: none!important;
  border-radius: 5px!important;
  box-shadow: 0 0 0 0.5px #000!important;
  -webkit-box-shadow: 0 0 0 0.5px #000!important;

}