@import '~antd/dist/antd.css';
@import '~font-awesome/css/font-awesome.min.css';

h1, h2, h3, h4, h5, h6 {
  color: #cdcdcd !important;
}
p {
  color: #cdcdcd !important;
}
label {
  font-weight: 400!important;
}
@media (min-width: 768px) {
  .navbar-nav{
    float: right!important
  }
}
.block {
  display: block!important;
}

.pd-left-0 {
  padding-left: 0px!important
}
.pd-left-10 {
  padding-left: 10px
}
.pd-right-10 {
  padding-right: 10px
}
.pd-lr-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.pd-top-10 {
  padding-top: 10px;
}
.width-720 {
  width: 720px!important;
  max-width: 720px!important;
  min-width: 720px!important;
}
.bg-radient {
  height: 100px;
  margin: 0 auto;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.7553396358543417) 22%, rgba(0,0,0,0) 100%);
}
.bg-white {
  background-color: #fff!important;
}
.pd-bottom-10 {
  padding-bottom: 10px;
}
.pd-bottom-20 {
  padding-bottom: 20px;
}
.pd-top-20 {
  padding-top: 20px;
}
.pd-top-40 {
  padding-top: 40px;
}
.pd-top-50 {
  padding-top: 50px;
}
.pd-tb-20 {
  padding: 20px 0;
}
.pd-left-20 {
  padding-left: 20px
}
.pd-left-50 {
  padding-left: 50px
}
.pd-tb-50 {
  padding: 50px 0;
}
.pd-tb-30 {
  padding: 30px 0;
}
.pd-tb-10 {
  padding: 10px 0;
}
.mg-tb-10 {
  margin: 10px 0!important;
}
.mg-tb-20 {
  margin: 20px 0!important;
}
.pd-tb-5 {
  padding: 5px 0;
}
.pd-top-30 {
  padding-top : 30px
}
.pd-right-20{
  padding-right: 20px;
}
.pd-lr-40 {
  padding-left: 40px;
  padding-right: 40px;
}
.padding-right-10 {
  padding-right: 10px
}
.padding-top-15 {
  padding-top: 15px
}
.mg-top-20 {
  margin-top: 20px
}
.mg-bottom-15 {
  margin-bottom: 15px!important;
}
.mg-right-10 {
  margin-right: 10px!important
}
.mg-right-8 {
  margin-right: 8px!important
}
.border-radius-50 {
  border-radius: 50px!important;
}
.mg-all-0 {
  margin: 0px!important
}
.pd-all-0 {
  padding: 0px!important
}
.pd-all-40 {
  padding: 40px;
}
.pd-all-30 {
  padding: 30px;
}
.mg-bottom-10{
  margin-bottom: 10px!important
}
.mg-bottom-50 {
  margin-bottom: 50px
}
.pd-left-5 {
  padding-left: 5px;
}
.text-color-grey {
  color: #4c4b53;
}
.text-color-primary {
  color:#dd4b39!important;
}
.font-11 {
  font-size: 11px
}
.opa-5 {
  opacity: 0.5;
}
.text-center {
  text-align: center
}
.text-color-light {
  color: #cdcdcd!important;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.inline {
  display: inline-block;
}
.font-400 {
  font-weight : 400 !important;
}
.font-600 {
  font-weight: 600!important;
}
.font-700 {
  font-weight: 700!important;
}
.col-card {
  display: inline-block;
  width: 175px;
  height: 270px;
  margin-bottom: 30px;
  cursor: pointer;
  padding-right: 20px;
  padding-left: 15px;
}
.thumb-cover {
  width: 140px;
  height: 200px;
}
.font-13 {
  font-size: 13px!important;
}
.border-radius-10 {
  /* border-radius: 10px!important; */
}
.text-right {
  text-align: right
}
.float-right {
  float: right;
}
.login {
  /* padding: 0px 5px; */
  cursor: pointer;
  color: #fff!important;
}
.login:hover {
  background: #00000014;
}
.img-reading {
  width: 40px;
  height: 40px;
  padding-right: 5px;
}
.book-title {
  font-size: 25px;
  font-weight: 600;
}
.mg-0-auto {
  margin: 0 auto!important
}
.input-modal{
  border-radius: 5px;
  width: 740px!important;
}
.text-modal {
  line-height: 30px;
  width: 160px;
  color: #272727;
}
.name-orther{
  color: yellow!important;
  font-weight: 700;
  font-size: 16px
}
.pd-bottom-30 {
  padding-bottom: 30px
}
hr {
  border-top: 1px solid #272727!important;
  margin-top: 10px!important;
  margin-bottom: 10px!important
}
.width-list-book {
  max-width: 1400px
}
.content-upload{
  width: 740px;
  /* height: 60px; */
  padding: 12px;
  border: 1px dashed #272727;
  border-radius: 5px;
}
.mg-left-10{
  margin-left: 10px
}

/* ===============STYLE================== */
.main-footer {
  border-top: 1px solid #272727!important;
}
.sidebar-menu > li > a {
  padding: 8px 3px 8px 10px!important;
}
.skin-red .wrapper, .skin-red .main-sidebar, .skin-red .left-side {
  background-color: #122120!important;
}
.main-sidebar {
  transition: transform 0.1s ease-in-out, width 0.1s ease-in-out!important;
}
.me1, .me2 {
  position: absolute;
}
.me1 {
  z-index: 2;
}
.me2 {
  z-index: 2;
}
.fb_iframe_widget span {
  min-width: 532px;
  width: 532px;
}
.slimScrollDiv {
  overflow: auto;
  height: 500px;
}
.min-height-page {
  min-height: 1300px
}
.img-info {
  width: 720px;
}
.img-cover-book {
  background-image: url("/img/icon-web/cover-book-01.png");
}
.text-footer {
  color: #777777;
  font-size: 13px;
  font-weight: 400;
  padding: 15px 15px;
}
.avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}
.social-media {
  text-align: right;
  right: -119px;
  position: fixed;
}
.social-media:hover {
  right: -12px;
  transition: all 0.8s ease,
}
.social-media-2 {
  text-align: right;
  right: -64px;
  top:415px;
  position: fixed;
}
.social-media-2:hover {
  right: -12px;
  transition: all 0.8s ease,
}
.ant-btn-round {
  font-size: 13px!important;

}
.input-style{
  border-radius: 5px;
  width: 740px!important;
  background-color: #272727;
  border: #272727;
  color: #cdcdcd;
}
.form-inline .ant-input {
  background-color: #272727;
  border: #272727;
  color: #cdcdcd;
}
.width-560{
  width: 560px!important;
}
.text-style{
  line-height: 30px;
  width: 160px;
  color: #dde8ec
}
.mg-top-10{
  margin-top: 10px
}
.ant-input-sm{
  width: 100px;
  max-width: 100px;
  padding: 0 10px;
}

/* The container */
.container-create {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 740px;
}

/* Hide the browser's default checkbox */
.container-create input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #272727;
  border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.container-create:hover input ~ .checkmark {
  background-color: #4c4b53;
}

/* When the checkbox is checked, add a blue background */
.container-create input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-create input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-create .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.upload label{
  padding: 4px 15px;
  display: table;
  display: inline-block;
}

.upload input[type="file"] {
  display: none;
}

/* ============ ANT================== */
.react-multi-carousel-list {
  /* height: 330px; */
  /* align-items: flex-start!important; */
}
.react-multiple-carousel__arrow {
  top: 75px!important;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2)!important;
  background-color: #272727!important;
  z-index: 1!important;
  position: absolute;
  outline: 0;
  transition: all .5s;
  border-radius: 35px;
  z-index: 1000;
  border: 0;
  background: rgba(0,0,0,0.5);
  min-width: 43px;
  min-height: 43px;
  opacity: 1;
  cursor: pointer;
}
.react-multi-carousel-dot button{
  width: 10px!important;
  height: 10px!important;
}
.react-multi-carousel-track {
  align-items: center!important;
  /* top: -10px!important; */
}
.react-multi-carousel-dot-list {
  opacity: 0.7;
}
.ant-breadcrumb {
  color: #777777 !important;
}
.ant-breadcrumb-link {
  color: #cdcdcd !important;
}
.ant-breadcrumb-separator {
  color: #777777 !important;
}
.ant-breadcrumb a {
  color: #777777 !important;
}
.ant-breadcrumb a:hover {
  color: #cdcdcd !important;
}
.ant-select-selection{
  background-color : #272727!important;
  border: none!important;
  /* border-radius: 50px!important; */
}
.ant-notification{
  margin: 60px 10px 0 0 !important
}
.ant-select-selection--multiple .ant-select-selection__rendered {
  margin: 5px 11px 3px 11px!important;
}
.ant-card {
  border: none!important;
  background: #121212!important;
  color: #cdcdcd!important;
}
.ant-card-meta-title {
  color: #fff!important;
  margin: 0px!important;
  font-size: 13px;
  font-weight: 700;
  white-space: nowrap; 
  width: 140px; 
  overflow: hidden;
  text-overflow: ellipsis; 
  /* overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-width: 140px;
  white-space: nowrap; */
}
.ant-card-meta-description {
  color: #cdcdcd!important;
  opacity: 0.5;
  font-weight: 300!important;
  font-size: 13px!important;
}
.ant-card-body {
  padding: 10px 0 0 0!important;
}
.ant-pagination {
  color: #4b646f!important;
}
.ant-pagination-item-link {
  border-color: transparent!important;
  background-color: #122020!important;
  opacity: 0.4;
  border-radius: 50px!important;
}
.ant-pagination-item-link:hover {
  opacity: 0.9;
}
.ant-pagination-item {
  background-color: #122020!important;
  border-color: transparent!important;
  opacity: 0.4;
  border-radius: 50px!important;
}
.ant-pagination-item:hover {
  opacity: 0.9;
}
.ant-pagination-item-active {
  background: #202a2f!important;
  opacity: 0.9;
  border-color: transparent!important;
}
.ant-pagination-options .ant-select .ant-select-selection {
  background-color: #1a2226!important;
  border-color: transparent!important;
  opacity: 0.4;
  color: #fff!important;
}
.ant-pagination-item-ellipsis{
  color: #4b646f!important;
}
.ant-back-top-content {
  background-color:#dd4b39!important;
  box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28)!important;
}
.ant-back-top-content:hover {
  background-color:#9c221d!important;
}
.ant-badge-count {
  font-size: 13px!important;
  right: 22px;
  top: 15px;
  background-color: #000!important;
  opacity: 0.7;
  border: none!important;
  border-radius: 5px!important;
  box-shadow: 0 0 0 0.5px #000!important;
  -webkit-box-shadow: 0 0 0 0.5px #121212!important;
}
.me .ant-input-search .ant-input{
  background-color: #000;
  border: none;
  border-radius: 50px; 
  color: #fff;
}
.navbar .row .me {
  /* margin-left: 105px */
}
.width-100{
  width: 100%;
}

/*======================================= responsive =======================*/
@media (max-width: 767px) {
  .me {
    margin-left: 0px!important
  }
}
@media (max-width: 767px) {
  .response-none {
    display: none!important
  }
}
@media (max-width: 767px) {
  .response-mg-all-0{
    margin: 0px!important
  }
}
@media (max-width: 767px) {
  
}
@media (max-width: 767px) {
  .thumb-cover {
    width: 170px;
    height: 240px;
  }
}



@media (max-width: 767px) {
  .me .ant-input-search{
    width: 100%;
  }
}
@media (max-width: 767px) {
  .navbar .me .col-md-4{
    width: 33.3%;
    display: inline-block;
    margin: 0px!important;
    padding: 0px!important
  }
}
@media (max-width: 767px) {
  .main-header .logo .logo-lg {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .main-header .logo {
    width: 100px;
    padding: 0px!important;
  }
}

@media (max-width: 767px) {
  .navbar .row {
    display: flex;
  }
}
@media (max-width: 767px) {
  .pd-lr-40 {
    padding: 0px
  }
}
@media (max-width: 767px) {
  .width-720 {
    width: 100%!important;
    max-width: 100%!important;
    min-width: 100%!important;
  }
}
@media (max-width: 767px) {
  .content-header {
    padding: 15px 0px 0px 0px;
  }
}
@media (max-width: 767px) {
  .response .content-header {
    padding: 15px 10px 0px 10px;
  }
}
@media (max-width: 767px) {
  .resonse-content-header {
    padding-left: 10px;
    padding-right: 10px
  }
}


@media (max-width: 767px) {
  .img-info {
    width: 100%!important;
  }
}
@media (max-width: 767px) {
  .content .row {
    margin: 0px!important
  }
}
@media (max-width: 767px) {
  .col-md-2 {
    display: inline-block;
    padding: 0px;
    width: 15%;
  }
}
@media (max-width: 767px) {
  .col-md-8 {
    display: inline-block;
    padding: 0px;
    width: 70%;
  }
}
@media (max-width: 767px) {
  .col-md-10 {
    display: inline-block;
    padding: 0px;
  }
}
@media (max-width: 767px) {
  .col-card {
    /* transform: scale(0.7); */
    width: 167px;
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    margin: 0 7px
  
  }
}
/* @media (max-width: 767px) {
  .width-list-book .pd-top-10 .row {
    margin: 0 -25px!important
  }
} */

@media (max-width: 767px) {
  .response h4, .h4 {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .response .col-md-3 {
    display: inline-block;
    padding: 0px;
  }
}
@media (max-width: 767px) {
  .response .col-md-9 {
    display: inline-block;
    float: right;
    padding: 0px;
  }
}
@media (max-width: 767px) {
  .response .content {
    padding: 0px;
  }
}
@media (max-width: 767px) {
  .response .pd-right-20 {
    padding-right: 5px;
  }
}
@media (max-width: 767px) {
  .response .pd-top-20 {
    padding-top: 0px;
  }
}
@media (max-width: 767px) {
  .react-multi-carousel-list {
    height: 250px;
  }
}
@media (max-width: 767px) {
  .justify-content-md-center {
    text-align: center
  }
}
@media (max-width: 767px) {
  .content .response {
    padding-left: 10px!important;
    padding-right: 10px!important;

  }
}
@media (max-width: 767px) {
  .info-left {
    width: 120px;
    display: inline-block;
    padding: 0px;
  }
}
@media (max-width: 767px){
  .main-header {
    position: relative!important;
  }
}
@media (max-width: 767px){
  .ant-affix{
    top:0px!important
  }
}
@media (max-width: 767px){
  .fixed .content-wrapper, .fixed .right-side {
    padding-top: 0px;
  }
}
@media (max-width: 767px){
  #response-search {
    /* width: 25px; */
  }
}
@media (max-width: 767px) {
  .avatar-menu {
    padding: 0px!important;
    height: 0px!important;
    line-height: 43px;
    margin-right: 10px
  }
}
@media (max-width: 767px) {
  .response-menu-right {
    padding: 0px!important;
    height: 0px!important;
    line-height: 43px
  }
}
@media (min-width: 992px){
  .col-md-9 {
    /* width: auto!important; */
}
}
@media (max-width: 767px) {
  .col-md-1 {
    display: inline-block
  }
}


.avatar-menu {
  padding: 15px 12px;
  height: 51px;
}
.scroll-up {
  /* visibility: visible; */
  display: block;
}
.scroll-down {
  /* visibility: hidden; */
  display: none
}
.scroll-to-fixed-fixed {
  margin-left: 0px;
  background-color: #fff;
  /* border-bottom: 1px solid #eeeeee; */
  padding: 5px 0;
  width: 100%!important;
  white-space: nowrap;
  overflow: hidden;
}
/* .fb_iframe_widget span {
  display: inline!important;
}
.fb-like{
  margin-bottom: 10px!important
} */
/* .ant-affix {
  position: relative!important;
} */

.mg-left-30{
  margin-left: 30px
}
.me .ant-input:hover {
  border-right-width: 0px!important;
}
.ant-input:focus {
  /* border-right-width: 0px!important; */
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  width: 100%!important;
}
.me .ant-input-search-icon {
  color: #747474!important;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #747474!important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #747474!important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #747474!important;
  
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
.skin-red .sidebar-menu > li.header{
  border-top: 1px solid darkslategray;
  background: transparent!important;
  padding: 5px 0px!important;
  margin: 5px 10px!important;
}
.ant-pagination-item a {
  color: #fff!important;
}
.ant-pagination-prev a {
  color: #fff!important;
}
.ant-pagination-next a {
  color: #fff!important;
}
.me .ant-select .ant-select-selection {
  background-color: #121212!important;
  border-radius: 20px;
}
.modal-select .ant-select .ant-select-selection {
  background-color: #fff!important;
  border: 1px solid #d9d9d9!important;
}
.light .ant-select .ant-select-selection {
  background-color: #fff!important;
  color: #000!important;
  border: 1px solid #d9d9d9!important;
}
.ant-select {
  color: #cdcdcd!important
}
.ant-select-arrow-icon {
  color: #cdcdcd!important
}
.ant-btn-primary {
  background-color:#dd4b39!important;
  border-color : #dd4b39!important;
  border-radius: 50px!important;
}
.ant-btn-primary:hover {
  background-color:#ff5722!important;
  border-color : #ff5722!important
}
.btn-upload {
  color: #fff;
  background-color: #1890ff;
  border-color: #1890ff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.12);
  -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.045);
  box-shadow: 0 2px 0 rgba(0,0,0,0.045);
}
.btn-upload:hover {
  color: #fff;
  background-color: #40a9ff;
  border-color: #40a9ff;
}
.create-title{
  color: #fff;
  font-size: 22px;
  font-weight: 700;
}
.ant-btn-default {
  background-color:#272727!important;
  border-color : #122020!important;
  color: #cdcdcd!important;
  border-radius: 50px!important;
}
.ant-btn-default:hover {
  background-color:#4c4b53!important;
  border-color : #4c4b53!important;
  color: #cdcdcd!important;
}
.ant-card-actions {
  background: transparent!important;
  border-top: 0px solid transparent!important;
}
.ant-card-actions > li:not(:last-child){
  border-right: 0px solid transparent!important;
}
.ant-card-actions > li {
  color: #4c4b53!important;
  text-align: left!important;
}
.ant-tag {
  margin-bottom: 5px!important;
}
.column-date {
  width: 110px
}
.column-chapter {
  width: 100px
}
.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
  padding: 10px 16px!important;
}
.ant-card-cover img {
  border-radius: 2px!important 
}
.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
  padding: 10px 8px!important;
}
/* tile uploaded pictures */
.upload-list-inline .ant-upload-list-item {
  float: left;
  width: 200px;
  margin-right: 8px;
}
.upload-list-inline .ant-upload-animate-enter {
  animation-name: uploadAnimateInlineIn;
}
.upload-list-inline .ant-upload-animate-leave {
  animation-name: uploadAnimateInlineOut;
}
.ant-upload-list-picture .ant-upload-list-item, .ant-upload-list-picture-card .ant-upload-list-item {
  height: 120px;
  border: 0px dashed #907373;
  background-color: #fafafa;
  margin-bottom: 10px;
  /* width: 700px; */
    /* position: absolute; */
}
.ant-upload-list-picture .ant-upload-list-item:hover, .ant-upload-list-picture-card .ant-upload-list-item:hover {
  background: #fafafa!important;
}
form input[type='radio'], form input[type='checkbox'] {
  height: 0;
  width: 0;
}
.mg-bottom-20{
  margin-bottom: 20px
}
.thumb-upload {
  height: 105px;
  width: 90px;
}
.anticon-edit {
  position: absolute!important;
  top: 8px!important;
  right: 35px!important;
  opacity: 0.6!important;
}
:root .ant-upload-list-item .anticon-close {
  font-size: 15px;
  color: #929292;
}
.pd-right-5 {
  padding-right: 10px;
}

/* menu icon */
.my-styles{
  background-color: transparent!important
}
.my-styles:focus{
  background-color: transparent!important;
}
.iPxwRk{
  transform: scale(0.5)!important;
  width: 30px!important;
}
.faBthh{
  padding: 13px!important;
  height: 51px;
}
.main-header .logo {
  float: right!important;
  width: calc(100% - 70px)!important;
}
.jJWmkO::before {
  -webkit-transform: translate3d(9px,0,0) rotate(45deg) scale(0.7,1)!important;
  -ms-transform: translate3d(9px,0,0) rotate(45deg) scale(0.7,1)!important;
  transform: translate3d(9px,0,0) rotate(45deg) scale(0.7,1)!important;
}
.jJWmkO::after {
  -webkit-transform: translate3d(9px,0,0) rotate(135deg) scale(0.7,1)!important;
  -ms-transform: translate3d(9px,0,0) rotate(135deg) scale(0.7,1)!important;
  transform: translate3d(9px,0,0) rotate(135deg) scale(0.7,1)!important;
}
:focus {
  outline: -webkit-focus-ring-color auto 0px!important;
}
.mg-lr-30{
  margin: 0 30px
}

@media (max-width: 767px) {
  .sidebar-mini.sidebar-collapse .main-sidebar {
    transform: translate(0, 0);
    width: 230px !important;
    z-index: 850;
  }
}
@media (max-width: 767px){
  .main-sidebar {
    padding-top: 50px!important;
  }
}
@media (max-width: 767px){
  .col-md-9 {
    display: inline-block;
    padding: 0px;
    width: 68%;
  }
}
@media (max-width: 767px){
  .ant-breadcrumb {
    padding: 0px 15px
  }
}
@media (max-width: 767px){
  .book-title {
    font-size: 18px!important;
    padding: 0 5px;
  }
}
.ant-comment-content-detail .ant-form-item {
  margin-bottom: 7px!important;
}
.pd-top-15 {
  padding-top: 15px
}

/* carosel */
.kcVeXj {
  right: 30px!important;
}
.giChJb {
  left: 30px!important;
}
.hSUuvv {
  height: 70%!important;
}

.search-content {
  width: 95%;
  /* height: 300px; */
  position: absolute;
  background-color: #fff;
  /* box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28); */
  border-radius: 5px;
}
.search-content ul {
  border-radius: 5px;
  list-style: none;
  height: 65px;
  line-height: 65px;
  margin: 0;
  padding-left: 0px;
  padding-right: 0px;

  border: 1px solid #fafafa
}
.search-content ul:hover {
  background-color: #fafafa
}
.search-content li {
  height: 65px;
  /* padding: 20px 0; */
}
.img-search {
  width: 50px;
  height: 50px;
  border-radius: 50%
}
.ant-select-auto-complete.ant-select .ant-input {
  border-width: 0px!important;
}
html {
  --antd-wave-shadow-color: #272727!important;
}
.ant-select-auto-complete.ant-select .ant-input:focus, .ant-select-auto-complete.ant-select .ant-input:hover {
  border-color: #272727;
  border-right-width: 0px !important;
}
.ant-select-search__field {
  color: #cdcdcd!important
}
.ant-select-dropdown{
  position: fixed!important;
}
.icon-search-me {
  position: absolute;
  color: #cdcdcd;
  top: 15px;
  right: 15px;
}
.ant-alert{
  border-radius: 0px!important
}