/**************************************************************
                          MENU-TOP 
 **************************************************************/
 .top-menu {
  background-color: white;
  width: 100%;
  user-select: none;
}

.top-menu > .content {
  max-width: 1250px;
  margin: 0 auto;
}

.top-menu > .content > .right {
  float: right;
}

.top-menu > .content > .right > * {
  margin-left: 5px;
}

.top-menu > .content > .left {
  float: left;
}

.top-menu > .content > .left > * {
  margin-right: 5px;
}

.top-menu > .content > .left > * {
  line-height: 60px;
  display: inline-block;
  text-align: center;
  min-width: 50px;
}

.top-menu > .content > .right > * {
  display: inline-block;
  text-align: center;
  min-width: 50px;
}

.top-menu *:hover{
  cursor: pointer;
}

.clear-fix {
  clear: both;
}

.top-menu > .content .top-menu-icon {
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

@media screen and (max-width: 600px) {
  .top-menu {
      padding: 40px 20px 20px 20px;
      max-height: 0;
      overflow: hidden;
  }

  .top-menu > .content > .left, .top-menu > .content > .right {
      display: none;
  }

  .top-menu-icon {
      display: block !important;
  }
}

@media screen and (max-width: 600px) {
  .top-menu.toggled {
      padding: 60px 0 0 0;
      max-height: 1500px;
      transition: max-height 1s;
  }

  .top-menu.toggled > .left {
      /* border-bottom: 1px solid black; */
      margin: 15px 0 0 0 ;
  }

  .top-menu.toggled *:not(.top-menu-lead):not(.top-menu-icon) {
      float: none;
      display: block !important;
      text-align: left;
      margin: 0;
  }

}

.top-menu-item:hover {
  background-color: white;
}

.top-menu-lead {
  line-height: 60px;
  display: inline-block;
  float: left;
  font-size: 18px;
  padding-right: 60px;
}

.top-menu-lead > .logo {
  height: 30px
}

@media screen and (max-width: 600px) {
  .top-menu-lead {
      position: absolute;
      top: 0;
      left: 10px;
      float: none;
  }
}

.top-menu-item > .search-box {
  width: 300px;
  float: left;
  height: 22px;
  margin: 18px auto 0;
  line-height: 22px;
  border-left: 1px solid #ebedf0;
  /* transform: translateY(-50%); */
}
.top-menu-item > .search-box > .anticon {
  transform: translateY(-62%);
  color: #ced4d9;
  font-size: 13px;
}
.top-menu-item > .search-box > .ant-input {
  color: #c0c0c0;
  width: 265px;
  transform: translateY(-15%);

}
.top-menu-item > .search-box > .ant-input:focus {
  box-shadow: none
}
.top-menu-item > .search-box > .input {
  border: 1px solid white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 0 16px;
  line-height: 60px;
  text-decoration: none;
  color: #212529;
}

li a:hover {

}

.login {
  transform: translateY(-90%);
  display: inline-block;
}
.menu-items {
  display: inline-block;
  font-weight: 500
}
